{% extends 'base.html.twig' %}




{% block body %}

<h1>Créer un nouveau Post</h1>

{{ form_start(form) }}


<div class="form-group">

<label for="">Titre</label>
{{ form_widget(form.title) }}

</div>
<div class="form-group">
<label for="">Matricule</label>
{{ form_widget(form.matricule) }}

</div>
<div class="form-group">

<label for="">content</label>
{{ form_widget(form.content) }}

</div>
<div class="form-group">


{{ form_widget(form.save) }}

</div>

{{ form_end(form) }}

{% endblock %}
